<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }}</title>
    </head>
    <body>
        <p align="center">Secrets</p>
        <table>
            <tr>
                <td>Key</td>
                <td>Value</td>
            </tr>
            {{ with .List }}
                {{ range . }}
                <tr>
                    <td>{{ .Key }}</td>
                    <td>{{ .Value }}</td>
                </tr>
                {{ end }}
            {{ end }}
        </table>
    </body>
</head>